In [27]:
import pandas as pd
import json

In [28]:
# make clean && make data-nifti

In [29]:
# Ruta al archivo de resumen generado por make data-nifti
summary_path = (
    "/Users/nacho/Desktop/code/DiaMond/data/processed/conversion_summary.json"
)

# Cargar los resultados
try:
    with open(summary_path, "r") as f:
        res = json.load(f)
except FileNotFoundError:
    print(f"No se encontró el archivo: {summary_path}")
    print("Asegúrate de haber ejecutado 'make data-nifti' primero")
    res = {}

In [30]:
res.keys()

dict_keys(['success', 'failed', 'conversions', 'errors'])

In [31]:
res["success"], res["failed"]

(96, 74)

In [32]:
df = pd.DataFrame(res["conversions"])
df

    subject_id modality                                        output_path
0   013_S_0699      mri  /Users/nacho/Desktop/code/DiaMond/data/process...
1   027_S_1254      mri  /Users/nacho/Desktop/code/DiaMond/data/process...
2   016_S_6926      mri  /Users/nacho/Desktop/code/DiaMond/data/process...
3   005_S_0223      mri  /Users/nacho/Desktop/code/DiaMond/data/process...
4   003_S_1059      mri  /Users/nacho/Desktop/code/DiaMond/data/process...
..         ...      ...                                                ...
91  041_S_0549      pet  /Users/nacho/Desktop/code/DiaMond/data/process...
92  082_S_0641      mri  /Users/nacho/Desktop/code/DiaMond/data/process...
93  168_S_6426      mri  /Users/nacho/Desktop/code/DiaMond/data/process...
94  013_S_1161      mri  /Users/nacho/Desktop/code/DiaMond/data/process...
95  130_S_1200      mri  /Users/nacho/Desktop/code/DiaMond/data/process...

[96 rows x 3 columns]

In [33]:
# Analizar errores de conversión
if "errors" in res and res["errors"]:
    errors_df = pd.DataFrame(res["errors"])
    print(f"Total de errores: {len(errors_df)}")
    display(errors_df)

    # Contar errores por modalidad
    print("\nErrores por modalidad:")
    display(errors_df["modality"].value_counts())
else:
    print("No se encontraron errores en la conversión")

Total de errores: 74

    subject_id modality                                              error
0   013_S_0699      pet  No se encontraron escaneos PET - Escaneos: {'f...
1   027_S_1254      pet  No se encontraron escaneos PET - Escaneos: {'f...
2   016_S_6926      pet  Todos los métodos de conversión fallaron, inst...
3   005_S_0223      pet  No se encontraron escaneos PET - Escaneos: {'f...
4   129_S_6763      pet  Todos los métodos de conversión fallaron, inst...
..         ...      ...                                                ...
69  082_S_0641      pet  No se encontraron escaneos PET - Escaneos: {'f...
70  168_S_6426      pet  Todos los métodos de conversión fallaron, inst...
71  098_S_6707      pet  Todos los métodos de conversión fallaron, inst...
72  013_S_1161      pet  No se encontraron escaneos PET - Escaneos: {'f...
73  130_S_1200      pet  No se encontraron escaneos PET - Escaneos: {'f...

[74 rows x 3 columns]

Errores por modalidad:

modality
pet    74
Name: count, dtype: int64

In [34]:
errors_df["error"].value_counts()

error
No se encontraron escaneos PET - Escaneos: {'fdg': [], 'av45': [], 'pib': [], 'fbb': []}                                                                                                                                           49
Todos los métodos de conversión fallaron, instale dcm2niix para un mejor soporte.\nDetalles: dcm2niix no pudo convertir los archivos o no está instalado\nMúltiples archivos DICOM detectados. Se recomienda instalar dcm2niix.    25
Name: count, dtype: int64

In [35]:
res.keys()

dict_keys(['success', 'failed', 'conversions', 'errors'])

In [36]:
res["success"], res["failed"]

(96, 74)

In [37]:
df["modality"].value_counts()

modality
mri    80
pet    16
Name: count, dtype: int64